
.auth-max-w-fixed {
    max-width: 450px
}

.pf-fs-72 {
    font-size: 72px;
}
.footer-item {
    font-size: 14px;
}

@media (max-width: 767px) {
    .footer-item {
        font-size: 12px;
    }
}

.footer-fixed-bottom {
    border-top: 1px solid #dfe0e1;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    z-index: 1200;
}

.footer-content {
    padding: 14px;
}

@media (max-width: 767px) {
    .footer-content {
        padding: 3px 0;
    }

}

