@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*  Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 1rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
    letter-spacing: .5px;
    font-size: 16px;


}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}


/*  header */
.navbar-head {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.btn-align {
    margin-right: 10px;
}

/*---dropdown---*/


.drop-content {
    right: 10px;
}

.drop-content[data-bs-popper] {
    right: 10px !important;
    left: auto;
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 0;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.icon {
    margin-top: -5px;

}

.nav-hight {
    margin-top: 7px;


}

.spaceing {
    margin: 0 !important;
}

.dropdown-item {
    padding: 0.40rem 1rem !important;
}

.btn-dark:active:focus {
    box-shadow: none;
}

.dark:active {
    color: #fff;
    background-color: #212529 !important;
    border-color: #212529 !important;

}

.btn-dark:focus {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    box-shadow: none;
}

@media (max-width: 768px) {
    .amin-table {
        overflow-y: scroll;
        overflow-x: auto;
    }

    .sm-res-btn {
        font-size: 12px;
        padding: .375rem .50rem;
        line-height: 1.5rem;
    }

    .pf-btn-profile {
        display: none;
        margin-right: 70px;
    }

    .pf-collapse-nav {
        border: none;
    }

    .pf-collapse-nav:focus {
        box-shadow: none;
    }

    .btn-align {
        display: none;
    }


}

.dropdown-after {
    position: relative;
}

.dropdown-after:after {
    position: absolute;
    width: 1em;
    bottom: 17px;
    right: 17px;
    align-items: center;
    line-height: 0;
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-weight: 900;
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
}

.btn-color {
    background-color: #4e73df;
    border-color: #4e73df;
}
.btn-color:hover{
     background-color: #2e59d9;;
}
.text-clr{
    color :rgba(255,255,255,.5)!important;
}

@media (max-width: 767px) {
    .btn-color {
        font-size: 14px;
        margin-bottom: 5px;
    }
}